@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
  background: linear-gradient(236.85deg, #000000 27.26%, #D7DF01 96.03%); 
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  background: #FAFAFA;
  color: #1C1C1C; 
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0E1D2F;
  padding: 64px
  }

.cabecalho {
  display: flex; 
  justify-content: space-between;
  
}

.perfil {
  display: flex;  }

.perfil-foto {
  border-radius: 400px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.titulo {
  margin-left: 16px; 
}

.titulo h1 {
  font-weight: 700; 
  font-size: 36px;
  }

.titulo h3 {
  font-weight: 400; 
  font-size: 24px; 
}

.tema button {
  align-self: flex-end;
  font-size: 19px; 
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px; 
}

.projetos {
  display: flex; 
  flex-direction: column;
  background: linear-gradient(230.65deg, #F5F6CE 27.49%, #D8D8D8 83.19%);
  margin-top: 36px;
  padding: 32px; 
  box-shadow: 2px 2px 4px rgba(16, 16, 0.42); 
  border-radius: 20px
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px; 
}

.projetos-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px; 
  line-height: 40px;  
}

.projetos-item a {
  color: #1C1C1C;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #000000 27.26%, #868A08 96.03%); 
  }

.dark .container {
  background: #181907;
  color: #F6F6F6;  
}

.dark .projetos {
  color: #1C1C1C
}

.dark .tema button {
  background: #222A0A;
  color: #F6F6F6;
  border: 2px solid #F7F7F7
}